# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Windows-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = false

# 4 space indentation
[*.js]
charset = utf-8
indent_style = space
indent_size = 4

# 2 space indentation
[package.json]
indent_size = 2;

[nwb.config.json]
indent_size = 2;