.timeline-list-item {
    clear: both;
    position: relative;
}

.timeline-list-item-header {
    background: white;
    color: #aaa;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 10px;
    padding-bottom: 4px;
    text-align: center;
}

.timeline-list-item-header::before {
    background: #ccc;
    content: '';
    display: block;
    height: 1px;
    margin: 0px auto;
    width: 10%;
}

.timeline-list-item-content-center {
    background: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: -20px;
    padding: 15px 0 15px 0;
    text-align: center;
}

.timeline-list-item-content-detail {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.4;
    margin-top: 10px;
    opacity: 0.6;
    padding: 10px 0;
    text-align: center;
}

.timeline-list-item-content-left {
    float: left;
    text-align: right;
}

.timeline-list-item-content-right {
    float: right;
    text-align: left;
}